<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>HandlingDateProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HandlingDateProgram</display-name>
    <servlet-name>HandlingDateProgram</servlet-name>
    <servlet-class>com.bridgelabz.handlingdate.HandlingDateProgram</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandlingDateProgram</servlet-name>
    <url-pattern>/HandlingDateProgram</url-pattern>
  </servlet-mapping>
</web-app>